<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now Playing: {{ song }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="GR-Music Logo">
            <span class="app-name">GR-Music</span>
        </div>
    </div>

    <div class="content-container">
        <div class="container">
            <h1>Now Playing: {{ song }}</h1>
            <audio controls>
                <source src="{{ url_for('static', filename='songs/' + song) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

            <h2>Recommended Songs:</h2>
            <ul class="recommended-songs">
                {% for recommended_song in recommended_songs %}
                    <li class="recommended-song">
                        <span class="recommended-song-name">{{ recommended_song }}</span>
                        <a href="{{ url_for('play_recommendation', song=recommended_song) }}"><button class="play-button">Play</button></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
